In [1]:
## Data Import

In [4]:
!pip3 install pandas numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 4.6 MB/s eta 0:00:01
Requirement already satisfied: numpy in /Users/sandeep/Library/Python/3.9/lib/python/site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sandeep/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sandeep/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     |████████████████████████████████| 346 kB 50.2 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/sandeep/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2024.2
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("IMDB.csv")

In [9]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive